html{
    height: auto;
    min-height: 100%;
}
body{

    background: linear-gradient(to bottom right, #1c3458, #3a709cdc);
    /*color: #f1faee;*/
}
h1{
    color: lightsteelblue;
    text-align: center;
    margin: 15px;
}
div{
    margin: 50px;
    padding: 25px 35px;
    background-color: lightsteelblue;
    border-radius: 25px;
}
a{
    text-decoration: none;
}